<body>
    <div class="main_container">
        <div class="header_container">
            <header class="header">
              <%= image_tag "mem_1.png", class:"mem_1" %>
              <%= image_tag "emojii_1.png", class:"emojii_1" %>
              <%= image_tag "sticker_1.png", class:"sticker_1" %>
                <p class="header_title">
                    Социальная сеть в котором вы можете <br> общаться только с помощью смайлов, <br> стикеров и мемов
                </p>
                <%= image_tag "sticker_2.png", class:"sticker_2" %>
                <%= image_tag "emoji_02.png", class:"emoji_02" %>
                <%= image_tag "mem_2.png", class:"mem_2" %>
            </header>
        </div>
        <div class="about_project__container">
            <section class="section">
              <%= image_tag "phone.png", class:"phone" %>
              <%= image_tag "emoji_3.png", class:"emoji_3" %>
                <p class="about_project__title">
                    Мы вывели смайлики <br> из дополнения к тексту️ <br> в основной способ коммуникации, <br> чтобы наши пользователи могли <br> общаться  только с помощью <br> смайликов, стикеров, и мемов.
                </p>
                <div class="button_wrap">
                    <%= link_to "о проекте", about_path, class:"about_button" %>
                </div>

                <!-- <a href="#" class="about_project__button">О проекте</a> -->
                <%= image_tag "sticker_3.png", class:"sticker_3" %>
            </section>
        </div>
        <footer class="footer">
            <p class="footer_title">
                Мы скоро запускаем наш сервис! <br>
                Подпишитесь чтобы не пропустить всё веселье :)
            </p>
            <div class="buttons_wrap">
                <input class="email_button" type="email" value="e-mail" name="">
                <input class="submit_button" type="submit" value="подписаться" name="">
                <!-- <a href="#" class="sign_up">подписаться</a> -->
            </div>
        </footer>
    </div>



</body>
